<!-- Div containing status update for crawler -->
<div class="text-center" id="crawlStatus">
</div>

<!-- Modal that displays when crawl is complete -->
<div class="modal fade" id="crawlCompleteModal" tabindex="-1" role="dialog" aria-labelledby="crawlCompleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title bg-gradient-primary" id="modalTitle">Crawl Complete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="white-text" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body align-left">
        <span id="linkcount"></span>
		<span id="keywordfound"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-button" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>


<div id="main">
  <div class="container-fluid">
	<div class="row">
      <div class="col-xl-2 col-lg-4 col-md-4 d-none d-md-block">
		<div class="well shadow p-3 mb-1 bg-white rounded h-100">
          <form action='/submit' method='post' id="crawlerForm">
            <div class="form-group">
              <label for="url" class="required-field">URL</label><span class="question-icon" data-toggle="tooltip" title="URL to start the crawl from"><i class="fas fa-question-circle"></i></span>
              <input class="form-control" required="" id='url' name='url' type="url" placeholder="http://www.yoururl.com" />
			</div>
            <div class="form-group">
              <label for="keyword">Search Keyword</label><span class="question-icon" data-toggle="tooltip" title="Specify a keyword that will stop the crawl if found on a page"><i class="fas fa-question-circle"></i></span>
              <input class="form-control" id='keyword' name='keyword' type="text" />
			</div>
            <div class="form-group">
              <label class="required-field">Select Crawl Type</label><span class="question-icon" data-toggle="tooltip" title="Breadth-first: visits all links on each page
Depth-first: visits a random link on each page"><i class="fas fa-question-circle"></i></span>
              <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" required="" name="searchType" id="breadth" value="Breadth"
                checked="checked" /> 
                <label class="custom-control-label" for="breadth">Breadth First</label>
			  </div>
              <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" name="searchType" id="depth" value="Depth" /> 
                <label class="custom-control-label" for="depth">Depth First</label>
			  </div>
            </div>
              <div class="form-group" id="maxDepthChoice">
                <label for="maxDepth" id="depthLabel" class="required-field">Depth (1 and 2)</label> <span class="question-icon" data-toggle="tooltip" title="Degrees of separation from the starting page"><i class="fas fa-question-circle"></i></span>
                <input class="form-control" id='limit' name='limit' type="number" min='1' value='1' />
			  </div>
              <button type="submit" id="submitButton" class="btn btn-primary submit-button">Start Crawl</button>
            </form>
        </div>
	  </div>
	  
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
	    <div class="canvas well shadow p-3 mb-1 bg-white rounded h-100">
		  <svg width="100%" height="100%">
		    <defs>
		  	  <radialGradient id="background-gradient" cx="70%" cy="100%" r="90%" fy="60%">
				  <stop offset="5%" stop-color="#EEFFFF" />
				  <stop offset="95%" stop-color="#DDEEFF" />
			  </radialGradient>
		    </defs>
		    <rect id="background" width="100%" height="100%" fill="url(#background-gradient)" pointer-events="all" />
		  </svg>
	    </div>
	  </div>
		
	  <div class="col-xl-2 d-none d-xl-block">
		<div class="well shadow p-3 mb-1 bg-white rounded h-100" id="info">
		  <div class="card shadow-sm p-3 mb-1 bg-white rounded">
			<div>
			  <h3>Site Details</h3>
			</div>
			<div>
			  <div class="info-header"><p>Page Title</p></div>
			  <div class="info" id="pageTitle">
			    <p> </p>
			  </div>
			</div>
			<div>
			  <div class="info-header"><p>URL</p></div>
				<div class="info" id="url">
				  <p> </p>
			  </div>
			</div>
		  </div>
		  <div class="card shadow-sm p-3 mb-1 bg-white rounded">
			<h4>Previous URL Searches</h4>
			<ol>
			  <div id="previousUrls" class="previous-urls">{{#each pastURLs}} 
				<a href="javascript:;" class='previouslinks' onclick="fillForm({{json this}})" data-toggle="tooltip" data-placement="top" title="URL: {{this.url}}
Keyword: {{this.keyword}}
Search Type: {{this.searchtype}}
Limit: {{this.limit}}">
			      <li> {{this.url}} </li>
				</a> {{/each}}
			  </div>
			</ol>
			<button type="button" id="deleteHistory" class="btn btn-danger" onclick="deleteHistory()">Delete History</button>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>

<script type="text/javascript">
	// Fill and submit form data
	function fillForm(data) {
		if (!$('#submitButton').is(":disabled")) {
			$('#url').val(data.url);
			if (data.keyword != '')
				$('#keyword').val(data.keyword);
			if (data.searchtype == 'Breadth')
				$('#breadth').prop("checked", true);
			else if (data.searchtype == 'Depth')
				$('#depth').prop("checked", true);
			$('#limit').val(data.limit);
			
			$('#crawlerForm').submit();
		} 
			
		return false;
	}
	
	// Async submit form data and generate graph
	$('#crawlerForm').submit(function (e) {
			e.preventDefault();
			var data = $('form').serialize();
			$.ajax({
					url: "/submit",
					type: 'POST',
					data: data,
					success: function(res) {
						d3.selectAll("svg > *").remove();
						createGraph(res.eventurl);
					}
			});
		});
	
	// Delete cookie history stored on the page
	function deleteHistory() {
		$.ajax({
			url: "/crawler",
			type: 'DELETE',
			success: function(res) {
				$(".previous-urls a").html("");
			}
		});
	}
	
	// Helper function to change depth values if outside acceptable range
	function checkLimit() {
	  var limit = document.getElementById("limit");

	  if (document.getElementById("breadth").checked && limit.value > {{ breadthLimit }}) {
		limit.value = {{ breadthLimit }};
	  } else if (document.getElementById("depth").checked && limit.value > {{ depthLimit }}) {
		limit.value = {{ depthLimit }};
	  }
	}

	// Validate depth data
	$("#limit").bind('keyup mouseup', function() {
	  var limit = document.getElementById("limit");

	  if (limit.value < 1 && limit.value != '') {
		limit.value = 1;
	  }

	  checkLimit();
	});

	// Change depth label to reflect range for breadth first search
	$('#breadth').click(function() {
	  var depthLabel = document.getElementById("depthLabel");
	  depthLabel.innerHTML = 'Depth (1 and ' + {{ breadthLimit }} + ')';
	  checkLimit();
	});

	// Change depth label to reflect range for depth first search
	$('#depth').click(function() {
	  var depthLabel = document.getElementById("depthLabel");
	  depthLabel.innerHTML = 'Depth (1 and ' + {{ depthLimit }} + ')';
	  checkLimit();
	});
	
</script>